.basement {
	background: #444;
	width: 600px;
	height: auto;
	margin: 0px auto 10px auto;
	padding: 10px 0px 10px 0px;
	border: 1px solid black;
	text-align: center;
}

.a-link-bassement {
	text-decoration: none;
	color: white;
	font-size: 24px;
	letter-spacing: 2px;
	padding: 0px 20px 0px 0px;
	text-shadow: 2px 1px 1px black;
}

.a-link-bassement:hover {
	color: yellow;
	text-decoration: none;
} 