:root {
	--darkblue: #1d1e27;
	--specialgreen: #397f3a;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #eee;
	font-family: "Verdana";
}

.nav-header-menu {}

.ul-header-menu {
	background-color: #397f3a; 
	width: 800px;
	height: auto;
	font-size: 24px;
	margin: 10px auto 10px auto;
	padding: 10px 0px 10px 0px;
	text-align: center;
	text-shadow: 2px 1px 1px black;

}

.li-header-menu {
	display: inline;
	padding: 0px 10px 0px 10px;

}

.a-link-header-menu {
	color: white;
	text-decoration: none;
}

.a-link-header-menu:hover {
	color: yellow;
	text-shadow: none;
} 