* {
	/*box-sizing: border-box;*/
	padding: 0px;
	margin: 0px	
}

body {
	background: white;
	letter-spacing: 1px;
	font-family: 'Baloo Bhaijaan 2', cursive;
}

#header {
	background: #397f3a;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 520px;
	height: 30px;
	margin: 20px auto 20px auto;
	padding: 20px 0px 20px 0px;
	border-radius: 30px;
	border: 2px solid black;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: red;
}

.link-header {
	background: #1d1e27;
	border-radius: 30px;
	color: white;
	padding: 8px 19px 8px 19px;
	margin: 0px 8px 0px 8px;
	border: 2px solid black;
	font-size: 18px;
	letter-spacing: 4px;
}

.link-header:hover {
	background: gold;
	color: brown;
	border-radius: 30px;
	font-size: 18px;
	letter-spacing: 4px;
}
