:root {
	--darkblue: #1d1e27;
	--specialgreen: #397f3a;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background: white;
	font-family: 'Baloo Bhaijaan 2', cursive
}

.nav-header-menu {}

.ul-header-menu {
	background-color: #397f3a;
	width: 480px;
	height: 34px;
	font-size: 24px;
	margin: 20px auto 20px auto;
	padding: 2px 0px 2px 0px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid black;

}

.li-header-menu {
	display: inline;
	padding: 0px 8px 0px 8px;

}

.a-link-header-menu {
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
	text-shadow: 2px 1px 1px black;
}

.a-link-header-menu:hover {
	color: yellow;
	text-shadow: none;
}

.animation {
	background: #eee;
	width: 480px;
	height: 180px;
	margin: 20px auto 20px auto;
	border-radius: 30px;
	border: 2px solid black;
}

#img-animation {
	width: auto;
	height: 100%;
	border-radius: 30px;
}

.topic-x {
	background: brown;
	color: white;
	width: 400px;
	height: 40px;
	margin: 20px auto 20px auto;
	border: 2px solid black;
	border-radius: 40px;
	padding: 0px 40px 0px 40px;
	text-shadow: 2px 1px 1px black;
}

#h2-under-topic-x {
	font-size: 26px;
	letter-spacing: 4px;
}

.nav-vertical-menu {
	background: #eee;
	width: 400px;
	height: auto;
	margin: 20px auto 20px auto;
	border-radius: 30px;	
	border: 2px solid black;
	padding: 10px 40px 10px 40px;

}

.ul-vertical-menu {
	list-style-type: none;
	overflow: hidden;
	height: auto;
}

.li-vertical-menu {
	list-style-type: none;

}

.a-link-vertical-menu {
	text-decoration: none;
	background: white;
}

.li-vertical-menu .a-link-vertical-menu {
	text-align: justify;
	display: block;
}

.li-vertical-menu .a-link-vertical-menu:hover {
	background: gold;
	color: black;	
	border-radius: 30px;
}

.basement {
	background: var(--darkblue);
	width: 480px;
	height: 34px;
	margin: 20px auto 20px auto;
	padding: 4px 0px 4px 0px;
	border: 2px solid black;
	border-radius: 30px;
	text-align: center;
}

.a-link-bassement {
	text-decoration: none;
	color: yellow;
	font-size: 18px;
	letter-spacing: 2px;
	padding: 0px 0px 0px 0px;
	position: relative;
	top: 4px;
}

.a-link-bassement:hover {
	color: green;
	/*text-shadow: 2px 1px 1px brown;*/
}