
/* Here is file main-wallpaper.css */

#wallpaper {
	background: #397f3a;
	width: 520px;
	height: auto;
	margin: 0px auto 0px auto;
	border: solid 2px black;
	border-radius: 30px;
}

#cover-list-of-topics {
	background: #397f3a;
	color: white;
	width: 520px;
	height: auto;
	margin: 20px auto 20px auto;
	padding: 12px 0px 12px 0px;
	border: 2px solid black;
	border-radius: 30px;
}

#list-of-topics {
	background: brown;
	color: white;
	width: 480px;
	height: auto;
	border: 2px solid black;
	border-radius: 30px;
	padding: 12px 1px 12px 1px;
	letter-spacing: 2px;
	text-align: center;
	margin: 0px auto 0px auto;
	font-size: 22px;
	font-family: 'Baloo Bhaijaan 2', cursive;
	text-shadow: 1px 2px 0px black;
}

.nav-block-zaraza {}

.ul-block-zaraza {
	list-style-type: none;
	overflow: hidden;
	height: auto;
}

.li-block-zara {
	background: #1d1e27;
	width: 480px;
	height: auto;
	margin: 14px auto 14px auto;
	border-radius: 30px;
	border: 2px solid black;

}

.li-block-zara .a-link-zaraza {
	display: block;
	color: white;
	padding: 10px 20px 10px 20px;
	text-align: justify;
	text-decoration: none;
	font-size: 22px;

}

.li-block-zara .a-link-zaraza:hover {
  background: gold;
  color: black;
  border-radius: 30px;
}