#wallpaper {
	background: white;
	width: 760px;
	height: auto;
	padding: 18px 20px 10px 20px;
	margin: 4px auto 4px auto;
	line-height: 24px;
}

h3 {
	color: crimson;
}

ol {
	padding: 0px 20px 0px 20px;
	font-size: 19px;
}

li {
	color: black;
}