
.nav-vertical-menu {
	background: white;
	width: 784px;
	height: auto;
	margin: 20px auto 20px auto;
	border: 1px solid black;
	padding: 8px 8px 8px 8px;
}

.ul-vertical-menu {
	list-style-type: none;
	overflow: hidden;
	height: auto;
}

.li-vertical-menu {
	list-style-type: none;
}

.a-link-vertical-menu {
	background: auto;
	text-decoration: none;
	font-size: 24px;
	letter-spacing: 2px;
	color: blue;
	border-radius: 20px;
}

.li-vertical-menu .a-link-vertical-menu {
	text-align: justify;
	display: block;
	padding: 2px 0px 2px 8px;

}

.li-vertical-menu .a-link-vertical-menu:hover {
	background: auto;
	color: var(--specialgreen);
}