
/* Here is file : wp-english.css */

.nav-vertical-menu {
	background: auto;
	width: 800px;
	height: auto;
	margin: auto;
}

.ul-vertical-menu {
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px; 
	list-style-type: none;
	display: block;
}

.li-vertical-menu {
	background: white;
	cursor: pointer;
	width: auto;
	height: 30px;
	padding: 20px;
	border: 1px solid black;
	margin-bottom: 10px;
	transition: width 1s;

}

.a-link-vertical-menu {
	background: auto;
	text-decoration: none;
	font-size: 24px;
	color: blue;
}

.li-vertical-menu:hover {
	background: red;
}

.li-vertical-menu:hover .a-link-vertical-menu {
	color: yellow;
}

