
.nav-vertical-menu {
	background: auto;
	width: 600px;
	height: auto;
	margin: auto;
}

.ul-vertical-menu {
	width: 100%;
	height: 100%;
	margin: 10px 0px 0px 0px; 
	list-style-type: none;
	display: block;
}

.li-vertical-menu {
	background: white;
	cursor: pointer;
	width: auto;
	height: 30px;
	padding: 10px;
	border: 1px solid black;
	margin-bottom: 10px;
}

.addition-li-vertical-menu {
	background: rgb(210, 210, 210);
}

.a-link-vertical-menu {
	text-decoration: none;
	font-size: 24px;
	color: black;

}

.li-vertical-menu:hover {
	background: #222;
}

.li-vertical-menu:hover .a-link-vertical-menu {
	color: white;
}





