:root {
	--color-purple: rgb(90, 90, 120);
	--color-white: rgb(255, 255, 255);
	--inside-fields: white;
	--myBackground: #ddf;
}

* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--color-purple);
	font-family: 'MuseoModerno', cursive;
}

.main-container {
	background-color: auto;
	background: white;
	width: 800px;
	height: 282px;
	margin: 10px auto;
	border: 1px solid #000;
}

.header {
	background-color: var(--color-white);
	width: 100%;
	height: 50px;
}

.choose-the-key {
	color: white;
	font-size: 18px;
	font-family: 'MuseoModerno', cursive;
	padding: 10px 10px 0px 20px;
	float: left;
}

#cheia {
	padding: 10px 1px 8px 12px;
}

select {
	margin: 7px 0px 0px 0px;
	float: left;
	cursor: pointer;
	background: white;
}

.cript {
	font-family: 'MuseoModerno', cursive;
	cursor: pointer;
	margin: 6px 0px 0px 5px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	color: black;
	font-size: 14px;
	background: white;
	border: none;
	border: 1px solid #000;
}

.decript {
	font-family: 'MuseoModerno', cursive;
	cursor: pointer;
	margin: 6px 0px 0px 0px;
	letter-spacing: 1px;
	color: black;
	font-size: 14px;
	background: white;
	padding: 7px 20px 7px 20px;
	border: none;
	border: 1px solid #000;
}

#search {
	background-color: var(--inside-fields);
	width: 290px;
	height: 32px;
	border: 1px solid #000;
	padding: 2px 10px 2px 10px;
	margin: 0px 0px 0px 0px;
	font-family: 'MuseoModerno', cursive;
}

.text-area {
	background-color: var(--color-white);
	width: 100%;
	height: 233px;
}

textarea {
	background-color: var(--color-white);
	margin: 10px 10px 0px 10px;
	font-family: 'MuseoModerno', cursive;
	float: left;
	width: 754px;
	line-height: 20px;
	height: 200px;
	font-size: 19px;
	padding: 5px 12px 5px 12px;
	border: 1px solid black; 
}

.show-result {
	background: var(--color-white);
	color: white;
	width: 783px;
	height: 100px;
	margin: auto;
	font-size: 17px;
	padding: 0px 8px 8px 8px;
	letter-spacing: 1px;
}

.footer {

}