
:root {
	--costum_border: 1px solid white;
	--my_shadow_box: 0px 1px 4px black;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background: rgb(240, 240, 245);
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 2px;
	font-family: 'Roboto', sans-serif;
}

.header {
	background: brown;
	width: 100%;
	height: 30px;
	padding: 10px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
}

.align-header {
	background: auto;
	width: 800px;
	height: auto;
	margin: auto;
}

#link-main-at-page {
	float: left;
	text-decoration: none;
	color: white;
	font-size: 25px;
	letter-spacing: 3px;
	text-shadow: 0px 2px 1px #000;
}

.right-circle-user {
	background: auto;
	width: auto;
	height: auto;
	float: right;
} 

.a-link-circle-right-user {
	text-decoration: none;
	color: white;
	border: 1px solid white;
	padding: 6px 8px 6px 12px;
	position: relative;
	letter-spacing: 4px;
	font-size: 18px;
	top: 4px;
	left: 1px;
}

.a-link-circle-right-user:hover {
	background: rgb(150, 0, 20);
	border: 1px solid orange;
	color: orange;
	box-shadow: 0px 0px 2px yellow;
}

.animation {
	background-image: url("../img/upAQeZ.jpg");
	background-repeat: no-repeat;
	background-color: white;
	background-size: 1200px auto;
	width: 800px;
	height: 340px;
	border: var(--costum_border);
	margin: auto auto 10px auto;
}

.main-menu {
	background: brown;
	width: 800px;
	height: auto;
	margin: auto;
	border: var(--costum_border);
	padding: 10px 0px 10px 0px;
	text-align: center;

}

.nav-menu {}

.li-main-menu {
	display: inline;

}

.a-link-main-menu {
	text-decoration: none;
	font-size: 22px;
	color: white;
	padding: 0px 10px 0px 10px
}

.a-link-main-menu:hover {
	color: orange;
}

.wallpaper {
	background: auto;
	width: 800px;
	min-height: auto;
	margin: auto;

}

.bg-name-at-article {
	background: auto;
	padding: 10px 10px 0px 10px;
}

#name-at-article {
	display: inline-block;
	font-size: 21px;
	color: rgb(0, 180, 0);
	text-decoration: none;
	padding: 10px 20px 0px 20px;

}

#name-at-article:hover {
	color: orange;
	text-shadow: none;
}

.post {
	display: inline-block;
	border: var(--costum_border);
	background: white;
	width: 100%;
	height: auto;
	margin: 10px 0px 10px 0px;
	text-align: justify;
	/*box-shadow: 0px 0px 4px black;*/

}

.mini-description {
	padding: 10px 30px 10px 30px;
	font-size: 18px;
}

.lower-mini-description {
	padding: 10px 0px 10px 0px;
	width: auto;
	height: auto;
	float: right;
}

.addition-information {
	padding: 10px 0px 10px 0px;
	height: 30px;
	width: 100%;
}

.addition-information-1 {
	background: green;
	color: white;
	text-decoration: none; 
	padding: 8px 14px 8px 14px;
	float: right;
	margin-right: 10px;
}

.addition-information-2 {
	background: orange;
	color: white;
	text-decoration: none; 
	padding: 8px 14px 8px 14px;
	float: right;
}

.basement {
	background: gold;
	height: 50px;
	width: 800px;
	margin: 10px auto 20px auto;
	padding: 10px 0px 10px 0px;
	border: var(--costum_border	);
}

a {
	color: blue;
}