
.wallpaper {
	background: auto;
	width: 800px;
	min-height: 1200px;
	margin: auto;
}

.bg-name-at-article {
	background: rgb(240, 240, 240);
	padding: 6px 10px 6px 10px;
}

#name-at-article {
	font-size: 21px;
	color: green;
	text-decoration: none;
}

#name-at-article:hover {
	color: green;
	text-decoration: underline;
}

.post {
	display: inline-block;
	border: 1px solid black;
	background: white;
	width: 100%;
	height: 200px;
	margin: 10px 0px 10px 0px;
	text-align: justify;
	padding: ;
}

.mini-description {
	padding: 10px 10px 10px 10px;
	font-size: 18px;
}

#read-more {
	padding: 0px 10px 0px 10px;
}