.wallpaper-categories-page {
	background: white;
	width: 800px;
	height: auto;
	margin: auto;
}

.nav-wall-categories {
	width: auto;
	height: auto;
	margin: 10px 10px 10px 10px;

}

.ul-wall-categories {
	/*margin: 10px auto 10px auto;*/
}

.li-wall-categories {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	list-style: none;
	padding: 17px;
	width: 220px;
	height: 300px;
	margin: 8px auto auto auto;
	border: 1px solid #000; 
}

.a-link-wall-categories {
	text-decoration: none;
	padding: 0px;
	font-size: 22px;

}