doctype html
html
	head
		title Studenti
		include includes/head.pug
	body
		.container
			include includes/navbar.pug
			.row
				div(class="col-lg-12 col-md-12 col-sm-12" style="padding: 100px 0;")
					each g in students
						table.table.table-bordered
							tbody
								tr
									th(rowspan= (g.profesori.length + g.studenti.length) * 2)= g.name
								tr
									th(rowspan= g.profesori.length + 1) Profesori
								each p in g.profesori
									each p1 in teachers
										if p === p1.name
											tr
												td
													a(href= p1.link)= p1.name + " " + p1.lastname
								tr
									th(rowspan= g.studenti.length + 1) Studenti
								each s in g.studenti
									tr
										td= s
		include includes/scripts.pug