nav.navbar.fixed-bottom.navbar-light.bg-faded
	.row.justify-content-lg-center.justify-content-md-center.justify-content-sm-center
		.col-1
			a(class="navbar-brand" href="/author") &copy; Nicolai Cusnir