
.footer {
	background-color: var(--the-color-block);
	width: 800px;
	height: 50px;
	margin: auto;
}

a {
	width: 200px;
	color: var(--color-text);
	text-decoration: none;
}

li {
	
}

a:hover {
	color: ;
}