:root {
	--main-background-image: url("../img/tsukiko-neko-cute_kaw.jpg");
	--grandstander: 'Grandstander', cursive;
	--main-background: rgb(80, 140, 80);
	--background-middle-button: red; 
	--color-text: yellow;
	--the-color-block: #222;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: var(--main-background-image);
	background-color: rgb(250, 250, 250);
	background-repeat: no-repeat;
  	background-position: top;
	letter-spacing: 2px;
	width: 100%;
}

.header {
	background-color: var(--main-background);
	width: 100%;
	height: 50px;
	margin: 0px 0px 10px 0px;
}

.left-header {
	float: left;
	width: calc(50% - 400px);
	height: 100%;
}

.align-left-header {
	font-family: var(--grandstander);
	text-shadow: 1px 1px #000;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 14px 0px 0px 15px;
	color: var(--color-text);
}

#name-of-the-site a {
	text-decoration: none;
}

#lessons {
	cursor: pointer;
	background-color: var(--main-background);
	width: 140px;
	position: relative;
	top: 40px;
	left: 35px;
}

ul {
	list-style: none;
}

.lesson-x {
	font-family: var(--grandstander);
	font-size: 21px;
	padding: 2px 0px 2px 0px;
}

.lesson-x:hover {
	background-color: rgb(255, 210, 110);
}

.align-lesson-x {
	padding: 0px 0px 0px 5px;
}

.middle-header {
	background-color: var(--main-background);
	float: left;
	width: 800px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.search-form {
	margin: 0px 10px 0px 0px;
}

#search {
	padding: 5px 6px 6px 6px;
	border: 1px solid red;
	margin-top: -1.4px;
	cursor: pointer;
}

.menu-middle-header a {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: var(--color-text);
	padding: 4px 10px 5px 10px;
	border: 1px solid #0f0;
}

.menu-middle-header {
	width: 100px;
	height: 20px;
}

.menu-middle-header a:hover {
	background: var(--color-text);
	color: purple;
	border: 1px solid green;
}

#sign-in-color a {
	background-color: var(--background-middle-button);
	color: var(--main-background);
	border: 1px solid black;
}

.right-header {
	background-color: var(--main-background);
	float: right;
	width: calc(50% - 400px);
	height: 100%;
}

#name-of-the-site {
	font-size: 24px;
	cursor: pointer;
}


