* {
	padding: 0px;
	margin: 0px;
}

:root {
	--black-grey: #333;
	--main-background-image: url("../img/tsukiko-neko-cute_kaw.jpg");
	--grandstander: 'Grandstander', cursive;
	--main-background: rgb(255, 255, 255);
	--sign-up-button: red; 
	--name-of-the-site: rgb(100, 210, 100);
	--the-color-block: #222;
	--color-text-button: blue;
	--f_font-family: 'Inconsolata', monospace;
	--white-bg-color: white;
	--light_green: rgb(100, 200, 100);
}

body {
	background: rgb(220, 220, 220);
	font-display: block;
	font-family: "verdana";
	box-sizing: border-box;
}

#logger {
	display: none;
	background: #777;
	width: 100%;
	height: 30px;
}

.header {
	background: white;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px 0px 10px 0px;
	box-shadow: 0px 0px 3px rgb(100, 100, 100);
}

.left-block {
	background: auto;
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle-three-lines {
	background: auto;
	width: 30px;
	height: 30px;
	margin-right: 0px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	padding: 1px 3px 1px 3px;
	position: relative;
	right: 6px;
}

.circle-three-lines:active {
	background: rgb(246, 246, 246);
	width: 30px;
	height: 30px;
}

.circle-line-1 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.circle-line-2 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 3px;
	margin-top: 3px;
}

.circle-line-3 {
	background: black;
	width: 20px;
	height: 3px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#name-of-the-site {
	background: rgb(100, 200, 100);
	color: white;
	padding: 5px 5px 3px 5px;
	border-radius: 10px;
	font-size: 16px;
	letter-spacing: 1px;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	text-shadow: 0px 1px 1px black;
	border: 1px solid rgb(0, 100, 0);

}

#tutorial-online {

}

#link-a-tutorial-online {
	color: white;
	text-decoration: none;
	font-family: 'Grandstander', cursive;
}

.middle-block {
	background: auto;
	width: 70%;
	height: 100%;
	margin: 0px auto 0px auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.right-block {
	background: auto;
	width: 15%;
	height: 100%;
}

#height-at-rectangle {
	display: none;
	background: auto;
	width: 183px;
	height: 1200px;
	float: left;
}

.nav-left-chapters {
	width: 100%;
}

.ul-flex-left-chapters {
	cursor: pointer;
}

.li-chpater-x {}

.li-chapter-x:hover a{
	background: rgb(100, 200, 100);
	color: white;
	width: 100%;
}

.i-icon-chapter {}

.a-align-chapter-x {
	background: white;
	width: 100%;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Arial';
	letter-spacing: 2px;
	color: blue;
	display: inline-block;
	margin: 0px 0px 2px 0px;
    padding: 4px 0px 2px 6px;
}

.search-form {
	width: 400px;
	height: auto;
}

.input-text {
	color: green;
	width: 70%;
	height: 28px;
	font-size: 16px;
	padding: 0px 10px 0px 10px;
	border: 1px solid black;
}

#search-button {
	font-family: 'Verdana';
	background: #03fc5a;
	color: black;
	border: 1px solid black;
	padding: 6px 14px 6px 14px;
	cursor: pointer;
}

.two-menu-middle-header {
	width: 45%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.menu-middle-header {
	background: auto;
	width: 100px;
	margin: 0px 15px 0px 15px;
	font-size: 19px;
}

.color-two-links {
	background: rgb(80, 200, 80);
	color: white;
	text-decoration: none;
	padding: 4px 15px 6px 15px;
	border-radius: 30px;
	text-shadow: 0px 1px #000;
	letter-spacing: 1px;
	border: 1px solid #000;
}

.menu-middle-header:hover a {
	color: none;
	background: green; 
}

#sign-in-color {}

#sorry {
	background: rgb(80, 200, 180);
	color: white;
	border: 1px solid #000;
	padding: 5px 12px 6px 12px;
	font-size: 15px;
	font-family: Verdana;
	margin: 0px 0px 0px 30px;
	font-family:;
	cursor: pointer;
	text-shadow: 0px 1px #000;
	letter-spacing: 1px;
}

/* * * Y E A H    S I G N * * */

.wallpaper {
	background: white;
	width: 70%;
	height: 1200px;
	margin: 0px auto 0px auto;
}

.stack-section {
	margin: 10px 10px 10px 10px;
	text-align: justify;
	background: rgb(250, 250, 250);
	border: 1px solid black;
	padding: 0px 0px 0px 0px;
}

.zaraza {
	margin: 10px 10px 10px 10px;
	font-size: 17px;
	line-height: 26px;
	height: 160px;
	overflow: hidden;
}

.link-stack-technology {
	color: green;
}

.hyper-stack-technology {
	font-size: 21px;
	margin: 10px 0px 0px 10px;
}