/** 
 * Here is file sign_up.css
*/

* {
	margin: 0px;
	padding: 0px;
}

body {
	/*background-image: url("../img/right_girl.jpg");*/
	font-family: Arial;
	background-repeat: no-repeat;
  	background-position: top;
}

.return-main-page {
	width: 360px;
}

.main-reg {
	background: #ddd;
	width: 280px;
	margin: auto;
}

h2 {
	background: yellow;
	color: green;
	width: 220px;
	padding: 4px 0px;
}

.reg-fields {
	border: 1px solid #000;
	letter-spacing: 1px;
	padding: 10px 10px 10px 10px;
	margin: 10px 0px 0px 10px;
	font-size: 18px;
	color: black;

}

.btn-submit {
	text-align: center;
	cursor: pointer;
	background: rgb(50, 180, 70);
	color: white;
	padding: 10px 75px;
	border: none;
	font-size: 16px;
}

a {
	color: blue;
}

a:hover {
	color: green;
}

.btn-submit:hover {
	border: none;
	background-color: rgb(100, 0, 100);
	color: white;
}

.clear{
	clear: both;
}

dd {
	padding-bottom: 2px;
	float: left;
}