.wallpaper {
	background-color: white;
	width: 800px;
	min-height: 1200px;
	margin: 10px auto 10px auto;
	font-size: 15px;
}

#parag {
	padding: 0px 30px 0px 30px;
	text-align: justify;
	font-size: 23px;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
}

